.color-input{
    background-color: rgba(26, 13, 43, 1);
}
.color-bg{
    background-color: rgb(44, 22, 72);
}
.color-bg2{
    background-color: rgb(33, 13, 43);
}
.color-bg3{
    background-color: rgba(55, 34, 82, 0.699);
}

