<div class="text-center mt-8 text-gray-200">
<h3 class="font-main ">KROK 1 z 2</h3>
<h3 class="font-main  mt-8 text-4xl">Wybierz swój plan HBO Max</h3>
<h3 class="font-main  mt-5">Oglądaj największe hity kinowe, najlepsze programy i produkcje oryginalne.</h3>
</div>
<div class="xl:flex w-full justify-center font-main mt-10 mb-5">
    <div class="xl:mr-6 flex justify-center mb-5"
    >
    <a  class="block max-w-sm p-6 bg-white border border-gray-300 rounded-lg shadow hover:bg-gray-100 xl:h-fit "
    [ngStyle]="{'background': 'linear-gradient(to bottom right, rgb(221, 221, 221, 0.06), rgb(221, 221, 221, 0.06), rgba(221, 221, 221, 0.06))'}">

        <h5 class="mb-2 mt-5 text-4xl  tracking-tight text-white ">Płatność miesięczna</h5>
        <h5 class="mb-2 text-2xl  tracking-tight text-white ">29,99 zł <a class="text-base text-gray-400">/mies.</a></h5>
        <p class="font-normal text-gray-400 mt-16">+ Możesz zrezygnować w dowolnym momencie.</p>
        <button type="button" class="text-white bg-purple-700 hover:bg-purple-800 mt-10 focus:outline-none focus:ring-4 focus:ring-purple-300 rounded-full text-base font-semibold w-full py-4 text-center mb-2 " [routerLink]="'/register-step-two'" (click)="chooseMonthPlan()">DALEJ</button>
        </a>
        
    </div>
    <div class="xl:ml-6 flex justify-center">
        <a  class="block max-w-sm p-6 bg-white border border-gray-300 rounded-lg shadow hover:bg-gray-100 xl:h-fit"
    [ngStyle]="{'background': 'linear-gradient(to bottom right, rgb(221, 221, 221, 0.06), rgb(221, 221, 221, 0.06), rgba(221, 221, 221, 0.06))'}">

            <h5 class="mb-2 mt-5  text-4xl  tracking-tight text-white ">Płatność roczna</h5>
            <h5 class="mb-2 text-2xl  tracking-tight text-white ">234,99 zł <a class="text-base text-gray-400">/rok</a></h5>
            <h5 class="mb-2 text-base font-medium tracking-tight text-violet-300 ">Oszczędzasz 34%</h5>
            <p class="font-normal text-gray-400 mt-8 ">+ W przypadku zapłaty za 12 miesięcy z góry odpowiada to cenie jedynie 19,58 zł/mies..</p>
            <button type="button" class="text-white bg-purple-700 hover:bg-purple-800 mt-10 focus:outline-none focus:ring-4 focus:ring-purple-300 rounded-full text-base font-semibold w-full py-4 text-center mb-2" [routerLink]="'/register-step-two'" (click)="chooseYearPlan()">DALEJ</button>
            </a>
      
    </div>

</div>
<app-footer ></app-footer>
```
